body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #0D0D0D;
    margin: 0px auto;
    padding: 0px;
    background-color: #f6f6f6;
    width: 80%;

}

header {
    padding-top: 4px;
    text-align: center;

}

#eightBall {
    position: relative;
    width: 80%;
}

#answer {
    position: absolute;
    width: 12%;
    top: 50%;
    margin-top: -60px;
    margin-left: -65px;
    font-size: 12px; 
    font-family: cursive;
    color: #f6f6f6;
    text-align: center;
}

button {
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 5px;
    color: #f6f6f6;
    background-color:#043ea3;
    padding: 10px;
    display: block;
    margin: 0 auto;
}

button:hover {
    background-color: #08327d;
}